body {
  text-align: center;
  background-color: #58c1c9;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #141063;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: rgb(27, 8, 8);
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: rgb(5, 113, 5);
}

.blue {
  background-color: rgb(13, 13, 119);
}

.yellow {
  background-color: rgb(236, 236, 88);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: rgb(242, 242, 242);
}
